<div class='main-page-container'>
	<div class="jumbotron">
	  <!-- <h1>'Allo, 'Allo!</h1> -->
	  <p class="lead">
		<img src="images/home/gospaces-logo.png" alt="I'm Thomas">
		<span>A web app showing career infomation of Thomas Yau</span>
	  </p>
	  <p>
		  <a class="btn btn-lg btn-success" ng-href="#/">
			  Splendid!
			  <span class="glyphicon glyphicon-ok"></span>
		  </a>
	  </p>
	</div>

	<div class="row marketing">
	  <h4>HTML5 Boilerplate</h4>
	  <p>
		HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
	  </p>

	  <h4>Angular</h4>
	  <p>
		AngularJS is a toolset for building the framework most suited to your application development.
	  </p>

	  <h4>Karma</h4>
	  <p>Spectacular Test Runner for JavaScript.</p>
	</div>
</div>

